* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #222;
    color: white;
    font-family: sans-serif;
}

.red {
    color: crimson
}

.aqua {
    color: aqua;
}

.green {
    color: lime;
}

.violet {
    color: violet;
}


.container {
    display: flex;
    justify-content: space-between;
}

.bottoniera {
    text-align: center;
}

/* una classe per le immagini di default (non-attive) */
.thumb {
    border-radius: 0.5rem;
    width: 10rem;
    opacity: 0.5;
}

/* una classe per immagine "attiva" */
.thumbActive {
    opacity: 1;
}

.currentImage {
    margin: 1rem 0;
    text-align: center;
}