<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My 1st Vue App</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <!-- <h1>{{ getMessage() }}</h1>  -->
        <!-- <h1>{{ message }}{{ nome }} {{cognome}}</h1> -->
        <!-- <h2>Inserisci i tuoi dati:</h2>
        Nome: <input type="text" v-model="nome"><br>
        Cognome: <input type="text" v-model="cognome">

        <br>
        <br>
        
        <h2 v-bind:class="h2Classes">Testo camaleonte</h2>
        Classi colore: <input v-model="h2Classes">
        <button @click="cambiaColore">Cambia colore</button>
        <select v-model="h2Classes">
            <option v-for="colore in colori">{{ colore }}</option>
        </select>

        <br>
        <br>

        <div>
            <button @click="toggleImmagine">Mostra/nascondi immagine</button>
        </div>
        <img v-show="imgVisible" :src="imgPath" alt="" >
        <span v-show="!imgVisible">Immagine non caricata</span> -->

        <!-- Cicli con i numeri -->
        <!-- <ul> -->
            <!-- <li v-for="numero in numeri">{{ numero }}</li> -->
            <!-- <li v-for="numero in [1, 2, 3, 4, 5, 6]">{{ numero }}</li> -->
            <!-- <li v-for="numero in maxNumero">{{ numero }}</li> -->
            <!-- <li v-for="numero in getNumero()">{{ numero }}</li> -->
        <!-- </ul> -->

        <!-- ciclo per immagini -->
        <div class="container">
            <!-- le classi dell'immagine saranno: -->
            <!-- mandalorian-img di default, per tutte -->
            <!-- mandalorian-img e mandalorian-img-active, per quella attiva -->
            <!-- quella attiva => i == slideNumber -->

            <img v-for="(path, i) in immagini" :src="path" class="img" :class="{ imgActive: (i == slideNumber) }" >
        </div>

        <!-- abbiamo un'immagine, che è quella corrente: immagini[slideNumber] -->
        <img :src="immagini[slideNumber]" alt="">

        <!-- abbiamo dei pulsanti che al click cambiano il valore di slideNumber -->
        <button @click="back()">indietro</button>
        <button @click="next()">avanti</button>
    </div>
    
    <script src="js/main.js"></script>
</body>
</html>