<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My 1st Vue App</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">
        <h1 v-bind:class="classiTitolo">{{ message }}{{ nome }} {{cognome}}</h1>
        
        Classi titolo: <input v-model="classiTitolo">
        
        <h2>Inserisci i tuoi dati:</h2>
        Nome: <input type="text" v-model="nome"><br>
        Cognome: <input type="text" v-model="cognome">

        <button @click="bottoneCliccato">Cliccami</button>
    </div>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/main.js"></script>
</body>
</html>